@font-face {
    font-family: 'Bahuraksa';
    src: url('Bahuraksa.woff2') format('woff2'),
        url('Bahuraksa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

