@font-face {
    font-family: 'Hoodson Script Free Demo';
    src: url('HoodsonScriptFreeDemo-Regular.woff2') format('woff2'),
        url('HoodsonScriptFreeDemo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

